/*--------------------------------------------------------------
# About Page

1. Mobile
2. Desktop
--------------------------------------------------------------*/

/*--------------------------------------------------------------
2. Mobile
--------------------------------------------------------------*/
.page-template-fullpage-about {
    #about-lead .container {
        margin: 2rem auto 1rem auto;
    }

    #director-message {
        background: url('../img/temp/FURI-FA17-Poster-Symposium-MAC1858a.jpg') top center no-repeat;
        
        .row-title {
            padding-top:2rem;
        }

        .row-letter {
            padding-top:32rem;
            div[class^="col-"] {
                padding:3rem 3rem 0 3rem;
            }
        }
        
        .row-signature {
            div[class^="col-"] {
                padding:1rem 3rem 0 3rem;
            }
            .signee {
                span {
                    font-weight:700;
                    display:block;
                }
            }
        }
    }

    #ira-message {
        margin-top:4rem;
        background-image: url('../img/temp/FSE-Spring19-maroon-convocation-JH-7052a.jpg');
        background-size:contain;
        background-repeat: no-repeat;

        .row-title {
            h2 {
                font-size:20px;
            }
        }

        .row-message {
            padding-top:10rem;
        }
    }

    #life-after-furi-title {
        margin-top:4rem;
        background-color: $uds-color-base-white;
    }
    
    #life-after-furi {
        margin: 3rem 0;
        .col-wrap {
            h4 {
                display: none;
            }
            .intro {
                position: relative;
                width: inherit;
            }

            #donutchart {
                display: none;
            }

            .distribution {
                font-size: 3em;
                font-weight: 700;

                line-height: 1;
                z-index: 20;

                div {
                    margin-left: 0;
                    p {
                        display: table-cell;
                        font-size: 14px;
                        background-color: #ffc627;
                        color: #222222;
                        padding: 5px;
                    }
                }
            }
        }
    }

    #furi-alumni {
        background-color: #99e4ff; /* 80% saturated from ASU Blue. */
        background-image: url("../img/amountain.png");
        background-size: 55%;
        background-position: 100% 108%;
        background-repeat: no-repeat;
        padding: 4rem 0;

        .col-wrap {
            margin-top: 1em;
            background-color: rgba(255, 255, 255, 0.85);
            padding: 0.75em;
        }

        h4 {
            margin: 1em 0 1.5em;
        }
    }

    #snapshot-global-title {
        background-color: transparent;
        margin-top:-30px;
    }
}

/*--------------------------------------------------------------
2. Desktop
--------------------------------------------------------------*/

@include media-breakpoint-up($md) {
    .page-template-fullpage-about {

        #ira-message {
            background-position: 50% -30%;
            margin-top:8rem;
            background-size:auto;

            .row-title {
                padding-top:2rem;
                h2 {
                    font-size: 2.5rem;
                }
            }

            .row-message {
                padding-top:4rem;
                div[class^="col-"] {
                    margin-bottom:10rem;
                    background-color:#ffffff;
                    padding:3rem;
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        background-color: #ffc627;
                        width: 1rem;
                        top: 2rem;
                        height: calc(100% - 4rem);
                        right: -1rem;
                    }
                    > p:first-of-type {
                        margin-top:2rem;
                    }
                }
            }
        }

        #life-after-furi {    
            .col-wrap {
                position: relative;
    
                .intro {
                    position: absolute;
                    width: 35%;
                    right: 5px;
                    top: 0;
                    font-size: 14px;
                    z-index: 20;
                }
    
                h4 {
                    font-size: 3em;
                    font-weight: bold;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 22%;
                    display: block;
                    line-height: 1;
                    z-index: 20;
    
                    span {
                        display: block;
                        font-size: 6rem;
                        line-height: 1;
                    }
                }

                #donutchart {
                    display:block;
                }
    
                .distribution {
                    position: absolute;
                    bottom: 0;
                    right: 0;
    
                    font-size: 4em;
                    font-weight: 700;
    
                    line-height: 1;
                    z-index: 20;
    
                    div {
                        margin-left: 0.75em;
                        p {
                            display: table-cell;
                            font-size: 14px;
                            background-color: #ffc627;
                            color: #222222;
                            padding: 5px;
                        }
                    }
                }
    
                #donutchart {
                    z-index: 10;
                }
            }
    
            #donutchart {
                width: 100%;
                min-height: 600px;
            }
        }
    }
}