/*--------------------------------------------------------------
Taxonomy Term Page: Faculty Mentor
Taxonomy Term Page: Industry Sponsor

1. All sites
--------------------------------------------------------------*/
.tax-faculty_mentor,
.tax-industry_sponsor {

    #content {
        margin-bottom:4rem;

        .social-icons {
            padding:0;
            margin:0;

            li {
                list-style-type:none;
                display:inline;
                margin-left:1rem;
                font-size:32px;
            }

            a:visited {
                color:$uds-color-base-maroon;
            }
        }
    }

    .related-projects {
        background-color: $uds-color-base-gray-2;
        padding: 4rem 0;

        .col-md-4 {
            margin-bottom:2rem;
        }
    }

    .related-projects + .section-head {
        background-color: $uds-color-base-gray-2;
    }

    #snapshot-global-title,
    #snapshot-global {
        display:none;
    }
}

.tax-faculty_mentor {
    blockquote + p {
        margin-top:4rem;
    }
}

/*--------------------------------------------------------------
2. Taxonomy Term Page: Industry Sponsor
-------------------------------------------------------------- */

.tax-industry_sponsor {
    .btn svg {
        margin-right:.5rem;
    }

    #snapshot-global-title {
        background-color: $uds-color-base-gray-2;
    }
}
