// Design tokens from ASU Boostrap library
@import "../node_modules/@asu-design-system/design-tokens/build/scss/_variables";

// Media queries that model those found in Boostrap 4
@import "_media-queries";

/*--------------------------------------------------------------
X. Baseline grid
--------------------------------------------------------------*/

#page {
    > div {
        max-width:1920px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*--------------------------------------------------------------
X. Project Starter
--------------------------------------------------------------*/

.section-head {
    height:20px;
    
    h3 {
      background-color: #222222;
      color: #ffffff;
      font-weight: 700;
      display: inline-block;
      padding: .5rem 1rem;
      margin:0;
      height:40px;
    }
}

@include media-breakpoint-up($lg) {
    .single-participant,
    .single-furiproject,
    .tax-faculty_mentor,
    .tax-symposium_date,
    .page-template-fullpage-about {
        #page-wrapper {
            margin-top: calc(1rem + 153px);
        }
    }
}

@include media-breakpoint-up($lg) {
    .page-template-symposium {
        #page-wrapper {
            margin-top: calc(2rem + 153px);
        }
    }
}

/*--------------------------------------------------------------
X. Home
--------------------------------------------------------------*/
.page-template-fullpage-home {
    .carousel {
        .card-symposium {
            position: absolute;
            top:2rem;
            right:4rem;
            width:24rem;
            height:auto;
            animation-name: fadeInRight;
            animation-duration: .65s;
            animation-delay: 1.5s;
        }
        .featured-image {
            animation-name: fadeInLeft;
            animation-duration: .65s;
            animation-delay: 1s;
        }
        .carousel-label {
            position: absolute;
            top: 1rem;
            left:2rem;
        }
        .carousel-controls {
            position:absolute;
            bottom:0;
            left:2rem;
            text-align:left;

            .carousel-indicators {
                position:relative;
                margin:1rem 0;
                
                li {
                    background-color: $uds-color-base-gray-4;
                }
            }
        }
    }
    #research-themes {
        margin-top: 6rem;
        padding-top:6rem;
        padding-bottom: 6rem;
        .row-header {
            margin-bottom:2rem;
        }
        .container {
            background-color:#ffffff;
            padding:2rem;
        }
        .media {
            margin-bottom:4rem;
            img {
                width:5rem;
                height:auto;
            }
        }
    }
    #sponsored-students {
        margin-top: 4rem;
       margin-bottom: 4rem;
    }
}

@include media-breakpoint-up($md) {
    .page-template-fullpage-home {
        
        .carousel {
            margin-top: 6rem;
            margin-bottom:6rem;
        }

        #program-descriptions {
            .col-md-4:nth-of-type(2) {
                border-left: 1px solid $uds-color-base-gray-4;
                border-right: 1px solid $uds-color-base-gray-4;
            }
        }
    }
}
/*--------------------------------------------------------------
X. Snapshot Global
--------------------------------------------------------------*/
#snapshot-global,
#snapshot-global-title {
    display:none;
}

@include media-breakpoint-up($md) {
    #snapshot-global-title {
        display:block;
    }

    #snapshot-global {
        display:block;
        padding-top: 4em;
        background-color: #c4c4c4;

        .stat-package {
            margin-bottom: 1.5em;
            padding: 10px;
            background-color: #d2d2d2;
            h3 {
                font-size: 1.75rem;
                line-height: 0.95;
                color: #222222;
                font-weight: 700;
                text-align: right;
                margin-right: 20px;
                span {
                    display: block;
                    color: #ffffff;
                }
            }
            .counter {
                font-size: 3.5rem;
                line-height: 0.95;
                color: #222222;
                font-weight: 700;
                align-self:center;
                margin-left:1rem;
            }
        }
    }
}



/*--------------------------------------------------------------
X. single-participant
--------------------------------------------------------------*/
.single-participant {
    #main-content {
        margin-bottom:4rem;
    
        .participant-name {
            margin-bottom:.5rem;
        }
        
        .participant-major {
            margin-top:.5rem;
            margin-bottom:.5rem;
        }
        
        .hometown, 
        .graduation-date {
            margin-bottom:0;
        }

        .project-mentor {
            margin:2rem 0;
        }

        .participant-social {
            margin:1rem 0 0 0;
            padding:0;
            font-size: 2rem;

            li {
                list-style-type: none;
                display:inline;
                margin-right:1rem;

                a:visited {
                    color: $uds-color-base-maroon;
                }
            }
        }

        .presentation-details {
            margin-top:0;
        }

        .project-icon img {
            margin-top:2rem;
        }

        .cta-buttons {
            .btn + .btn {
                margin-left:1rem;
            }

            svg {
                margin-left: .5rem;
            }
        }

    }

    .row-featured {
        margin-top:1rem;

        a.featured-image {
            border: 1px solid #ffffff;
            margin-right:1rem;
            margin-top:1rem;
            display: inline-flex;

            &:last-child {
                margin-right:none;
            }

            &:hover {
                border-color: $uds-color-base-maroon;
            }
        }
    }
}

/*--------------------------------------------------------------
X. Additional Project, Related Projects
--------------------------------------------------------------*/

#additional-projects,
#related-projects {
    background-color: $uds-color-base-gray-2;
    padding: 4rem 0;
}

#additional-projects + #related-projects-title {
    background-color: $uds-color-base-gray-2;
}

/*--------------------------------------------------------------
X. Specality Cards
--------------------------------------------------------------*/
.card.card-hover {
    &:hover {
        cursor:auto;
    }
    &:active {
        transform: scale(1.05);
    }
}


.card-symposium {
    .card-header {
        padding-top: $uds-size-spacing-2;

        .participant {
            margin: 0 0 .5rem 0;
        }

        .major {
            margin:0;
            font-weight:400;
        }
    }
}

/*--------------------------------------------------------------
X. Symposium Page
--------------------------------------------------------------*/
.page-template-symposium {

    .card-featured-symposium {
        position:relative;
        margin-bottom:1.5rem;

        .card-foldable {
            padding-bottom:0;
            border:0;
        }

        .card-symposium {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            min-height:inherit;
        }

        .card-header {
            padding:0;
            position:relative;

            a {
                border-bottom:0;
                text-decoration: none;

                h4 {
                    padding:1rem 2rem .25rem 2rem;
                    margin-bottom:0;
                }

                h5 {
                    padding:0 2rem 1rem 2rem;
                }

                svg {
                    font-size: 30px;
                    font-weight: 700;
                    position: absolute;
                    right: 1.5rem;
                    top: 1.5rem;
                    transition-duration: .4s;
                }

                &[aria-expanded="true"] svg {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .card-symposium {
        margin-bottom: 1.5rem;
        min-height:24rem;

        .participant {
            margin-bottom:4px;
        }

        .card-title, .card-text {
            font-size:14px;
            line-height:18px;
        }
    }

    .above-filters h4 {
        margin-top:.5rem;
        margin-bottom:0;
    }

    .filter-container {
        form {
            margin-top:1rem;

            &:first-child {
                margin-top:0;
            }
        }

        label {
            display:block;
        }

        #presentation-type-filters {
            .form-check label {
                font-size: $uds-size-font-large;
            }
            .form-check-input {
                margin-top: .5rem;
            }
        }

        #research-theme-filters {
            input {
                display:none;

                & ~ label.form-check-label-disabled {
                    display:block;
                }
                & ~ label.form-check-label-enabled {
                    display:none;
                }
            }
            input:checked {
                & ~ label.form-check-label-disabled {
                    display:none;
                }
                & ~ label.form-check-label-enabled {
                    display:block;
                }
            }

            .research-theme-icon {
                width:50px;
                height:auto;
            }
        }

        .bootstrap-select {
            button.dropdown-toggle {
                border-color: $uds-color-base-gray-7;
                color: $uds-color-base-gray-7;

                &.disabled {
                    border-color: $uds-color-base-gray-3;
                    color: $uds-color-base-gray-3;
                }
            }

            button.bs-select-all {
                display:none;
            }

            button.bs-deselect-all {
                border-radius:400rem;
            }

            .dropdown-menu {

                &.show {
                    width:100%;
                }

                &.show li a span.text {
                    word-wrap: break-word;
                    white-space: normal;
                    font-size:14px;
                }

                > .inner:focus {
                    box-shadow: none !important;
                }
            }
        }
    }
}

/*--------------------------------------------------------------
X. Furi Project
--------------------------------------------------------------*/
.single-furiproject {

    #main-content {
        margin-bottom:6rem;

        .cta-buttons {
            .btn + .btn {
                margin-left:1rem;
            }

            svg {
                margin-left: .5rem;
            }
        }
    }

    .theme-icon {
        max-width:8rem;
        float:right;
    }

    #secondary {
        .card {
            height:auto;
            .card-img-top {
                object-position:100% 20%;
            }
        }
    }
}

/*--------------------------------------------------------------
X. Taxonomy Term Page: Faculty Mentor
--------------------------------------------------------------*/
.tax-faculty_mentor {

    #content {
        margin-bottom:4rem;

        .social-icons {
            padding:0;
            margin:0;

            li {
                list-style-type:none;
                display:inline;
                margin-left:1rem;
                font-size:32px;
            }

            a:visited {
                color:$uds-color-base-maroon;
            }
        }
    }

    .related-projects {
        background-color: $uds-color-base-gray-2;
        padding: 4rem 0;

        .col-md-4 {
            margin-bottom:2rem;
        }
    }

    .related-projects + .section-head {
        background-color: $uds-color-base-gray-2;
    }
}

/*--------------------------------------------------------------
X. Taxonomy Term Page: Symposium Date
--------------------------------------------------------------*/
.tax-symposium_date {

    #content {
        margin-bottom:4rem;

        .dataTables_wrapper {
            .dataTables_info {
                padding: 0.25em 0 0 0.5em;
                width: 49%;
                float: left;
            }

            .dataTables_filter input {
                width: 300px;
            }

            table > thead > tr > th {
                background-color: #8c1d40;
                color: #ffffff;
            }
        }
    }
}

/*--------------------------------------------------------------
X. About Page
--------------------------------------------------------------*/
.page-template-fullpage-about {
    #about-lead .container {
        margin: 2rem auto 1rem auto;
    }

    #director-message {
        background: url('../img/temp/FURI-FA17-Poster-Symposium-MAC1858a.jpg') top center no-repeat;
        
        .row-title {
            padding-top:2rem;
        }

        .row-letter {
            padding-top:32rem;
            div[class^="col-"] {
                padding:3rem 3rem 0 3rem;
            }
        }
        
        .row-signature {
            div[class^="col-"] {
                padding:1rem 3rem 0 3rem;
            }
            .signee {
                span {
                    font-weight:700;
                    display:block;
                }
            }
        }
    }

    #ira-message {
        margin-top:8rem;
        background: url('../img/temp/FSE-Spring19-maroon-convocation-JH-7052a.jpg') center top no-repeat;

        .row-title {
            padding-top:2rem;
        }

        .row-message {
            padding-top:40rem;
            div[class^="col-"] {
                background-color:#ffffff;
                padding:3rem 3rem 0 3rem;

                > p:first-of-type {
                    margin-top:2rem;
                }
            }
        }
    }

    #life-after-furi-title {
        margin-top:4rem;
        background-color: $uds-color-base-white;
    }
    
    #life-after-furi {
        margin: 3rem 0;
        .col-wrap {
            h4 {
                display: none;
            }
            .intro {
                position: relative;
                width: inherit;
            }

            #donutchart {
                display: none;
            }

            .distribution {
                font-size: 3em;
                font-weight: 700;

                line-height: 1;
                z-index: 20;

                div {
                    margin-left: 0;
                    p {
                        display: table-cell;
                        font-size: 14px;
                        background-color: #ffc627;
                        color: #222222;
                        padding: 5px;
                    }
                }
            }
        }
    }

    #furi-alumni {
        background-color: #99e4ff; /* 80% saturated from ASU Blue. */
        background-image: url("../img/amountain.png");
        background-size: 55%;
        background-position: 100% 108%;
        background-repeat: no-repeat;
        padding: 4rem 0;

        .col-wrap {
            margin-top: 1em;
            background-color: rgba(255, 255, 255, 0.85);
            padding: 0.75em;
        }

        h4 {
            margin: 1em 0 1.5em;
        }
    }

    #snapshot-global-title {
        background-color: transparent;
        margin-top:-30px;
    }
}

@include media-breakpoint-up($md) {
    .page-template-fullpage-about {

        #ira-message {
            background-position: 50% -30%;
            .row-message {
                padding-top:6rem;

                div[class^="col-"] {
                    padding-bottom:2rem;
                    margin-bottom:10rem;
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        background-color: #ffc627;
                        width: 1rem;
                        top: 2rem;
                        height: calc(100% - 4rem);
                        right: -1rem;
                    }
                }
            }
        }

        #life-after-furi {    
            .col-wrap {
                position: relative;
    
                .intro {
                    position: absolute;
                    width: 35%;
                    right: 5px;
                    top: 0;
                    font-size: 14px;
                    z-index: 20;
                }
    
                h4 {
                    font-size: 3em;
                    font-weight: bold;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 22%;
                    display: block;
                    line-height: 1;
                    z-index: 20;
    
                    span {
                        display: block;
                        font-size: 6rem;
                        line-height: 1;
                    }
                }

                #donutchart {
                    display:block;
                }
    
                .distribution {
                    position: absolute;
                    bottom: 0;
                    right: 0;
    
                    font-size: 4em;
                    font-weight: 700;
    
                    line-height: 1;
                    z-index: 20;
    
                    div {
                        margin-left: 0.75em;
                        p {
                            display: table-cell;
                            font-size: 14px;
                            background-color: #ffc627;
                            color: #222222;
                            padding: 5px;
                        }
                    }
                }
    
                #donutchart {
                    z-index: 10;
                }
            }
    
            #donutchart {
                width: 100%;
                min-height: 600px;
            }
        }
    }
}